body {
  font-family: sans-serif;
  background-color: #2b2d42 !important;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div {
  display: block;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 22px;
  height: auto;
  margin: 2px;
}

.championPicture img {
  width: 48px;
  height: auto;
}
