body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 8.1mm;
}
